Source: libnetfilter-cttimeout
Section: unknown
Priority: extra
Maintainer: VyOS Package Maintainers <maintainers@vyos.net>
Build-Depends: debhelper (>= 7.0.50~), autotools-dev
Standards-Version: 3.8.4
Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/libnetfilter-cttimeout.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/libnetfilter-cttimeout.git;a=summary

Package: libnetfilter-cttimeout
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
